@model dynamic

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Item
            </th>
            <th>
                ItemDescription
            </th>
            <th>
                BorrowDate
            </th>
            <th>
                Remarks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (ApplicationUser user in Model.ApplicationUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.EmpiID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.FirstName + " "+ user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Department)
                </td>
            <td>
               Item
            </td>
            <td>
                ItemDescription
            </td>
            <td>
                BorrowDate
            </td>
            <td>Reason</td>
            <td>
                Remarks
            </td>
            
            
        </tr>
}
<tr>
    @foreach (Borrower borrower in Model.Borrower)
            {
                <td>
                <a asp-action="Edit" asp-route-id="@borrower.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@borrower.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@borrower.id">Delete</a>
            </td>
            }
        </tr>
    </tbody>
</table>
